# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [41]:
chipo = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv')

### Step 4. How many products cost more than $10.00?

In [43]:

chipo['item_val'] = chipo['item_price'].str.replace(',', '').str.replace('$', '').astype(float)
unique_items = chipo[chipo.quantity == 1]
unique_items = unique_items[['item_name','item_val']].drop_duplicates()
unique_items[unique_items['item_val'] > 10]
len(unique_items)

135

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [34]:
chipo[['item_name','item_price']]

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [35]:
chipo.sort_values(by=['item_name'])

,order_id,quantity,item_name,choice_description,item_price,item_val
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98,12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49,8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [48]:
chipo.sort_values(by=['item_val'], ascending=False)

,order_id,quantity,item_name,choice_description,item_price,item_val
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25,35.25
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00,35.00
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$35.00,35.00
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$33.75,33.75
...,...,...,...,...,...,...
3936,1578,1,Canned Soda,[Diet Dr. Pepper],$1.09,1.09
2922,1162,1,Bottled Water,NaN,$1.09,1.09
1396,567,1,Canned Soda,[Coca Cola],$1.09,1.09
2562,1014,1,Canned Soda,[Coca Cola],$1.09,1.09
1457,591,1,Canned Soda,[Sprite],$1.09,1.09

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [49]:
veggie_salad = chipo[chipo.item_name == 'Veggie Salad Bowl']
len(veggie_salad)

18

### Step 9. How many times did someone order more than one Canned Soda?

In [51]:
multiple_sodas = chipo[(chipo.item_name == 'Canned Soda') & (chipo.quantity > 1)]
len(multiple_sodas)

20